{% extends 'base.html.twig' %}

{% block title %}Index!{% endblock %}

{% block body %}
    <h2 class="mt-5 mb-4">
        {{ resources | length }} row(s) of {{ resourceName }} in total

        <a class="btn btn-success" href="{{ path('general.create', {'resourceName' : resourceName}) }}">
            Add {{ resourceName }}
        </a>
    </h2>

    {% set id = app.flashes('id') %}
    {% set success = app.flashes('success') %}

    {% if success %}
        <section class="alert alert-success">
            {{ success.0 | raw }}
        </section>
    {% endif %}



    <table class="table">
        <thead>
        <tr>
            {% for key,property in properties %}
                <th>
                    {{ read_property_name(key, property) }}
                </th>
            {% endfor %}
            <th>(actions)</th>
        </tr>
        </thead>
        <tbody>
        {% for resource in resources %}
            <tr class="{{ id and id.0 is same as (read_property_resource(resource, 'id')) ? 'table-primary':'' }}">
                {% for property, annotation in properties %}
                    <td>
                        {{ read_hide_resource_in_index(annotation) | raw }}
                        <div>
                            {{ read_property_resource(resource, property) | raw }}
                        </div>
                    </td>
                {% endfor %}
                <td>
                    <a class="btn btn-primary"
                       href="{{ path('general.edit', {'resourceName' : resourceName, 'resourceId': resource.id}) }}">Edit</a>
                    <form action="{{ path('general.destroy', {'resourceName': resourceName, 'resourceId': resource.id}) }}"
                          method="POST">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="hidden" name="_token" value="{{ csrf_token('general.destroy.' ~ resource.id) }}">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="pagerfanta">
        {{ pagerfanta(resources, 'twitter_bootstrap4') }}
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        const hideButtons = document.querySelectorAll('.btn-hide');
        hideButtons.forEach(function(btn) {
           btn.addEventListener('click', function(e) {
               e.preventDefault();

               if (btn.dataset.shown == 0) {
                   btn.innerText = 'Show';
                   btn.nextElementSibling.style.display = 'none';
                   btn.dataset.shown = 1;
               }
               else {
                   btn.innerText = 'Hide';
                   btn.nextElementSibling.style.display = 'block';
                   btn.dataset.shown = 0;
               }
           });
        });
    </script>
{% endblock %}
